---
import { Header } from "@features/Header";
import Button from "@shared/ui/Button/index.astro";

import styles from "../Main/styles.module.scss";
import { BurgerMenu } from "@features/BurgerMenu";
import { ReactLink } from "@shared/ui/ReactLink";

interface Props {
  title: string;
  image: ImageMetadata;
  paragraph: string;
}

const { title, paragraph, image } = Astro.props;
---

<>
  <main class="smaller  flex flex-col items-center justify-center" id="main">
    <Header client:load />
    <h1 class="text-center mt-16">
      {title}
    </h1>
    <p class="paragraph text-center w-[80%] m-auto mt-4">
      {paragraph}
    </p>
    <ReactLink
      buttonType="filled"
      text="Contact Us"
      margin="mt-4 mb-8"
      to="form"
      client:load
    />
    <Button buttonType="text" text="Explore More" margin="mt-2" />
    <img class={styles.image} src={image.src} alt="Cleaning Image" />
  </main>
  <main class="bigger content flex flex-col">
    <Header client:load />
    <div class="flex flex-col items-start mt-16">
      <h1 class={styles.heading}>{title}</h1>
      <p class="paragraph mt-4">{paragraph}</p>
      <div class="flex items-center gap-0">
        <ReactLink
          buttonType="filled"
          text="Contact Us"
          margin="mt-4 mb-8"
          to="form"
          client:load
        />
      </div>
    </div>
    <img class={styles.image} src={image.src} alt="Cleaning Image" />
  </main>
</>
